<div class="row">
  <h1>Habilidades</h1>
  <div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../assets/html-5.png'"
  [imageHeight]="150"
  [imageWidth]="150"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FF8000'"
  [innerStrokeColor]="'#F44611'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../assets/css.png'"
  [imageHeight]="150"
  [imageWidth]="150"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#0000FF'"
  [innerStrokeColor]="'#00FFFF'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [showSubtitle]="false"
  [imageSrc]="'../assets/js.png'"
  [imageHeight]="150"
  [imageWidth]="150"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FFFF00'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../assets/bootstrap.png'"
  [imageHeight]="110"
  [imageWidth]="110"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#800080'"
  [innerStrokeColor]="'#6C4675'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../assets/angular.png'"
  [imageHeight]="130"
  [imageWidth]="130"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#FF0000'"
  [innerStrokeColor]="'#EA899A'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md- col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [imageSrc]="'../assets/java.png'"
  [imageHeight]="130"
  [imageWidth]="130"
  [showImage]="true"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#2980B9'"
  [innerStrokeColor]="'#F8C471'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
</div>
